body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.nameStyle{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.infoStyle{
    width: 50%;
    padding-left: 3%;
}
.infoStyle img{
    width: 80%;
}

.hiremeStyle{
    text-decoration: none;
     background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 3px;
    font-weight: 700;
}
.container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dreamBig{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;

}
.allItem{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px  gray;
    

}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  
}
#babyWeb{
   border-image: linear-gradient(blue,cyan);
   border-image-slice: 1;
   border-left: 7px solid;
}
#fullStack{
    border-image: linear-gradient(salmon,tomato);
   border-image-slice: 1;
   border-left: 7px solid;

}
footer p{
    text-align: center;
}